.buttonUnclicked {
    display: block;
    background-color: white;
    border-radius: 12px;
    border: 4px solid #2E518E;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #4374C2;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonClicked{
    display: block;
    background-color: #4374C2;
    border-radius: 12px;
    border: 4px solid #2E518E;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonUnblocked{
    display: inline-block;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    max-width: 50%;
    max-height: 50%;
}
.image-container{
    display: flex;
    justify-content: center;
}
.buttonsContainerRight{
    margin-right: 10%;
    float:right;
}
.buttonsContainerLeft{
    margin-left: 15%;
    float:left;
}
.buttonsContainerDown{
    text-align: center;
    width: 100%;
    bottom: 10%;
    position: fixed;
}

.pTitle{
    margin-top: 4em;
   font-size:large;
}

@media screen and (max-width:1190px) {
    .buttonClicked{
        padding: 13px;
        font-size: 14px;
    }
    .buttonUnclicked{
        padding: 13px;
        font-size:14px;
    }

}

@media screen and (max-width: 924px) {
    .buttonClicked {
        padding: 14px;
        font-size: 12px;
    }

    .buttonUnclicked {
        padding: 14px;
        font-size: 12px;
    }

    .image-container{
        padding-top: 10px;

    }

    .pTitle {
        margin-top: 8%;
        font-size: 0.85em;
    }

    .buttonsContainerRight {
        position: absolute;
        left: 70%;
        top: 25%;

    }
    .buttonsContainerLeft{
        position: absolute;
        right: 70%;
        top: 25%;

    }
}

@media screen and (max-width: 760px) {
   .buttonUnclicked{
       display: inline-block;
       padding: 10px;
       font-size: 10px;
   }
    .buttonClicked{
        display: inline-block;
        padding: 10px;
        font-size: 10px;
    }

    .buttonsContainerRight{
        display: inline-block;
        left: 5.19085% !important;
        top: 88.1356% !important;

    }
    .buttonsContainerLeft{
        right: -25.7995% !important;
        top: 76.6667% !important;
        left: 8.74302% !important;

    }
    .buttonsContainerDown{
        text-align: right;
        width: 100%;
        bottom: 1.667%;
        right: 5.21368%;

    }


}