.layered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  opacity: 1;
  filter: alpha(opacity = 100);
  max-width: 90%;
  max-height: 90%;
}
.starting-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  filter: alpha(opacity = 50);
  max-width: 90%;
  max-height: 90%;
}
.image-container {
  display: flex;
  justify-content: center;
}

* {
  font-family: Arial, Helvetica, sans-serif !important;
}
/* 
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 8, 8, 0.5) !important;
} */

.full-group:focus path {
  cursor: pointer;
  fill: blue;
  fill-opacity: 0.25;
}

.full-group:hover path {
  cursor: pointer;
  fill: blue;
  fill-opacity: 0.25;
}

.full-group {
  fill-opacity: 0;
}
